
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  text-align: left;
  font-family: "Arial";
  font-size: 16px;
}

.piePagina {
  background: ##2E2E2E;
  width: 100%;
}