* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  text-align: left;
  font-family: "Arial";
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: #33A;
  box-shadow: 0px 2git compx 20px 0px rgba(0,0,0,0.5);
  color: #FFF;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}
.logotipo {
  width: 15%;
}
.logotipo a img {
  width: 3.5rem;
}

.tituloCabecera {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.tituloCabecera h1 {
  font-size: 1.2rem;
  text-align: center;
}
.tituloCabecera h2 {
  font-size: 1rem;
  display: none;
}

.tituloCabecera a {
  text-decoration: none;
}

.tituloCabecera span {
  font-size: 1.5rem;
}

.navPrincipal {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navPrincipal ul li {
  display: inline-block;
  padding: 0 0.5rem;
}

.navPrincipal ul li a {
  text-decoration: none;
  color: #FFF
}